body {
    font-family: "Roboto", sans-serif;

}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px 200px;
}

.header {
    background-color: #1f2937;
}

/* Header top */
.header__top {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.header__nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header__nav-link, .header__nav-link > a, .header__content-text {
    font-size: 18px;
    color: #e5e7eb;

}

/* Header bottom */

.header__bottom {
    padding: 100px 0;
    height: 400px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    
}

.header__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.header__content-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    line-height: 85%;
}

.header__image-placeholder {
    background-color: grey;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    max-width: 130px;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: 0 none #3882f6;
  
}


/* main */

.section__information {
    display: flex;
    text-align: center;
    padding-bottom: 50px;
}

.section__information-title {
    margin: 25px 0 40px 0;
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
}

.section__information-item-list {
    display: flex;
    gap: 40px;
}

.sectiion__information-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
}

.section__information-item-image-placeholder {
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 20px;
}

.section__information-item-subtext {
    font-size: 14px;
}


/* quote */

.section__quote {
    background-color: #e5e7eb;
}

.section__quote-container {
    display: flex;
    flex-direction: column;
    padding: 80px 150px;
}

.section__quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.section__quote-subtext {
    align-self: flex-end;
    font-weight: 800;
}